.gallery {
    position: relative;
    top: 0;
    z-index: 0;
    left: 250px;
    width: calc(99% - 250px);
    justify-content: center;
    scroll-behavior: smooth;
}

.gallery.grid1 {
    /* display: flex;
    flex-direction: column;
    transition: 0.5s; */
    display: grid;
    grid-template-columns: 1fr;
}

.gallery.grid3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-auto-rows: 10px;
    grid-column-gap: 22px;
    top: 25px;
    margin-bottom: 100px;
}


.imageBox.grid1Col {
    position: relative;
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imageBox.grid3Col {
    max-width: 400px;
}

.imageBox.grid3Col.a3x2 {
    grid-row-end: span 62;
}

.imageBox.grid3Col.a2x3 {
    grid-row-end: span 29;
}

.grid1Col a {
    max-width: 70%;
    max-height: 80%;
    background-color: var(--navbar-color);
}

.grid1Col img {
    height: 100%;
    max-height: 1500px;
    width: 100%;
    max-width: 1500px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}

.grid3Col img {
    max-height: 100%;
    max-width: 100%;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}

.gridImageDiv {
    cursor: pointer;
}

.imageBox p {
    position: absolute;
    left: auto;
    bottom: 1%;
    color: var(--text-color);
    text-align: right;
    font-style: italic;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    margin: 0.4rem 1rem 0 0;
}


@media screen and (max-width: 1000px) {
    .imageBox.grid1Col {
        height: 65vh;
        padding: 5vh;
    }

    .grid1Col a {
        max-width: 99%;
        max-height: 95%;
    }
}