#navbar {
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: rgba(240, 240, 240, 0.5);
    position: fixed;
    left: 0;
    width: 250px;
    height: 100vh;
    margin: 0;
    z-index: 3;
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
}

#navlinks {
    display: flex;
    width: 100%;
    flex-direction: column;
}

li {
    list-style: none;
    margin: 1rem 0 1rem 3rem;
}

.navlink {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.navlink:hover {
    color: var(--text-color);
    transition: 0.3s;
}

h2 {
    margin: 0 0 4rem 0;
    font-size: 36px;
    padding: 1.5rem;
}