* {  
  box-sizing: border-box;
}

html, body {  
  min-width: 420px;
  margin: 0;
  padding: 0;
  font-family: 'andale mono', monospace;
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
}

:root {
  --text-color: rgb(228, 191, 57);
  --navbar-color: rgba(240, 240, 240, 0.5);
  --navbar-left-width: 220px;
}


body {
  width: 100%;
}

@media screen and (max-width: 800px) {
  body {
    display: flex;
    justify-content: center;
    width: calc(100vw - (100vw - 100%));
  }

  #root {
    width: calc(100vw - (100vw - 100%));
  }
}
